<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Learner Details</title>
</head>
<body>
<h1>Learner Details</h1>
<form name="learner" action="learner" method="post" enctype="multipart/form-data">
<input type="hidden" name="_key" value="{% if learner.is_saved %}{{learner.key}}{% endif %}">

<!-- Learner: Name, MobileNumber, MobileDevice, UserAgent, MotherTongue, Sex, Age, Education, Profession, Status, JoinDate -->

<table>
<tr><td><b>Mobile Number*:</b> </td><td>
<b><input name="MobileNumber" value="{{learner.MobileNumber}}" onblur="window.location = '/learner?MobileNumber=' + this.value"></b> 
</td></tr> 

<tr><td>Name: </td> <td>
<input name="Name" value="{{learner.Name}}">
</td></tr>

<tr><td>Mobile Device: </td><td>
<input name="MobileDevice" value="{{learner.MobileDevice}}">
</td></tr>

<tr><td>User Agent: </td><td>
<input name="UserAgent" value="{{learner.UserAgent}}">
</td></tr>

<tr><td>Mother Tongue: </td><td>
        <select name="MotherTongue">
          <option value="None" {% ifequal learner.MotherTongue 0 %}selected{% endifequal %}>Unknown</option>
          <option value="1" {% ifequal learner.MotherTongue 1 %}selected{% endifequal %}>Hindi</option>
          <option value="2" {% ifequal learner.MotherTongue 2 %}selected{% endifequal %}>Kannada</option>
        </select>
</td></tr>

<tr><td>Sex: </td><td>
        <input type="radio" name="Sex" {% if not learner.Sex %}checked{% endif %} value="off">Male</input>
        <input type="radio" name="Sex" {% if learner.Sex %}checked{% endif %} value="on">Female</input>
</td></tr>

<tr><td>Age: </td><td>
<input name="Age" value="{{learner.Age}}">
</td></tr>

<tr><td>Education: </td><td>
<input name="Education" value="{{learner.Education}}">
</td></tr>

<tr><td>Profession: </td><td>
<input name="Profession" value="{{learner.Profession}}">
</td></tr>

<tr><td>Status: </td><td>
<input name="Status" value="{{learner.Status}}">
</td></tr>

<tr><td>Join Date: (yyyy-mm-dd) </td><td>
<input name="JoinDate" value="{{learner.JoinDate}}">
</td></tr>

</table>
<input name="action" type="submit" value="Submit">
<input name="action" type="submit" value="Delete">
</form>
</body>
</html>